@model IEnumerable<LMS.SharedFiles.DTOs.BookDTO>

@{
    ViewData["Title"] = "Microsoft Library";
}

<h2>Library Books</h2>

    <partial name="_SearchBarPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Price
            </th>
            <th>
                Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="BookDetails" asp-route-id="@item.bookId">@Html.DisplayFor(modelItem => item.title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    Rs @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
            </tr>
        }
    </tbody>
</table>
